.selectBox{
    min-width: 120px;
}
#select_box{
    margin-bottom: 30px;
    text-align: center;
}
#chart_box{
    min-width: 700px;
    margin: 5px;
    height: 700px;
}
#table_box{
    min-width: 400px;
    margin: 5px;
}
#component_box{
    display: flex;
    flex-wrap: wrap;
}
.table_head{
    font-weight: bold;
}
.table2_box{
    margin-top: 17px;
}